# Environnement virtuel
venv/
.venv/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers Django
db.sqlite3
media/
staticfiles/

# Variables d'environnement
.env

# IDE
.vscode/
.idea/

# Logs
*.log